body {
  margin-top: 70px;
  }

.navbar {
  opacity: 0.9;
  padding-bottom: .05em;
  }
  
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem; 
  }
  
#about p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

#showcase {
  position: relative;
  background: white;
  background-size: 100% 100%;
  min-height: 450px; 
}

#showcase img {
  max-width: 75%;
  height: auto;
}

#hr1 {
  border-color: rgba(161, 161, 161, 0.63);

}

#skills {
  height: 625px;
}

.progress-bar {
    background-color: red;
}

.carousel {
  width: 800px;
  height: 600px;
  background: rgb(32, 37, 43);
}

.carousel-inner img{
  margin: auto;
  padding: 25px 25%;
  width: auto;
  height: auto;
  max-height: 600px;
  max-width: 100%;
  position: relative;
  
}

.smallPic {
  padding-top: 125px;
}

.mediumPic {
  padding-top: 15px;
}

.moveLittleRight{
  padding-left: 15px;
}

.moveLittleRight{
  padding-left: 25px;
}

.moveRight {
  padding-left: 50px;
}